@model Locadora.Domain.Models.Filme

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-header" style="background-color:mediumseagreen">
        <div class="float-left">
            <h6>Filme</h6>
        </div>
    </div>

    <div class="card-body">
        <h3>Atenção! Deseja  realmente  deletar  esse  filme?</h3>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Genero)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Genero)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataLançamento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataLançamento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ValorLocacao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ValorLocacao)
                </dd>
            </dl>

                <form asp-action="Delete">


                    <div class="form-group ">
                        <input type="hidden" asp-for="Id" />
                        <a class="btn btn-success" asp-action="Index">Voltar</a>
                        &nbsp;

                        <input type="submit" value="Delete" class="btn btn-success" />
                    </div>

                </form>
        </div>
    </div>
</div>
